root = true

[*]
charset = utf-8
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true

[*.{c,cpp,cs,go,hs,java,kt,py,rs}]
indent_size = 4

[*.{clj,cshtml,css,hh,html,jade,js,json,jsx,less,lisp,php,ps1,raml,rb,rkt,rtks,sass,scm,scss,sh,swift,ts,tsx}]
indent_size = 2

[*.go]
indent_style = tab

[*.py]
insert_final_newline=false

[*.rs]
end_of_line = lf

[Makefile]
indent_style = tab

